.title-bold {
  font-weight: bold;
}

.content-flights {
  width: 70%;
  margin: 0 auto;
}

.card-header {
  background-color: rgb(33, 37, 41);
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
}

.title-bold {
  font-weight: bold;
}

.price {
  margin-top: 20px;
  font-size: 16px;
}

.content-flights {
  margin-top: 20px;
}

.card-flight-title {
  font-size: 16px;
}

.card-flight-content {
  font-size: 14px;
  margin-top: 10px;
}

.list-group-item:nth-child(odd) {
  background-color: #f7f7f7;
}

.card{
    margin-bottom: 20px;
}
